body {
    margin: 0;
}
a, a:visited
{
    color: black;
    text-decoration: none;

}
.noSelect {
    user-select: none;
    -webkit-user-select: none;
}

#header {
    max-width: 100vw;
    height: 15vh;
    display: flex;
    border-bottom: 1px rgba(0, 0, 0, 0.301) solid;
}

.htext {
    display: flex;
    margin: auto auto;
}

#secondHeader {
    max-width: 100vw;
    height: 6vh;
    top: 0;
    background-color: #fff;
    display: flex;
    border-bottom: 1px rgba(0, 0, 0, 0.301) solid;
    position: sticky;
}
#links:first-child
{
    margin-left: 4vw;
}

#links {
    display: flex;
}

#links a, .desp, .despContent .opt {
    user-select: none;
    -webkit-user-select: none;
    margin: auto 1vw auto 1vw;
    padding: 0.8vh 0.8vw 0.8vh 0.8vw;
    background-color: rgb(223, 233, 233);
    border-radius: 1vmax;
    transition: ease-in-out 0.08s;
    box-shadow: 0.3vmin 0.3vmin rgba(0, 0, 0, 0.11);
    border: 1px rgba(0, 0, 0, 0.035) solid;
}

#links a:hover {
    background-color: rgb(217, 231, 210);
    transition: ease-in-out 0.08s;
}

#links a:active {
    box-shadow: 0.1vmin 0.1vmin rgba(0, 0, 0, 0.11);
    transform: translate(0.05vmin, 0.05vmin);
    transition: ease-in-out 0.08s;
}

#ayuda {
    z-index: 98;
    position: fixed;
    width: 3vmax;
    height: 3vmax;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 3vmax;
    top: 90vh;
    right: 5vw;
    transition-delay: 0.25s;
    transition: ease-out 0.5s;
    background-color: white;
}

#arrow {
    display: none;
}

#toggle {
    z-index: 99;
    position: fixed;
    width: 3vmax;
    height: 3vmax;
    top: 90vh;
    right: 5vw;
    transition-delay: 0.25s;
    transition: ease-out 0.5s;
}

#iToggle {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    60% {
        transform: rotate(364.3deg);
    }
    100% {
        transform: rotate(364.99deg);
    }
}

.help:hover {
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: 0.55s;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 50%;
    animation-name: rotate;
}

#arrow:checked+label[for="arrow"]+#ayuda .htext {
    display: none;
}

#arrow:checked+label[for="arrow"] #iToggle {
    display: flex;
}

#arrow:checked+label[for="arrow"] #toggle {
    top: 12vh;
    right: 12vw;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 3vmax;
    background-color: rgba(255, 159, 159, 0.301);
}

#arrow:checked+label[for="arrow"] #toggle:hover {
    background-color: rgba(240, 1, 1, 0.301);
}

#arrow:checked+label[for="arrow"]+#ayuda {
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 3vmax;
    top: 10vh;
    right: 10vw;
    transition-delay: 0.25s;
    transition: ease-out 0.5s;
    box-shadow: 3vmin 3vmin rgba(0, 0, 0, 0.11);
}

.help {
    z-index: 100;
    display: flex;
    width: 100%;
    height: 100%;
}

#contenido {
    width: 70vw;
    min-height: 56.7vh;
    height: auto;
    margin: 0 auto;
    padding-top: 2vh;
}
iframe {
    top: 15vh;
    left: 0;
    border: none;
    width: 100%;
    height: 100vh;
    z-index: -2 !important;
}
#ejercicios
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.tarjetaEj * 
{
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}
.tarjetaEj
{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 20vh;
    margin-bottom: 5%;
}
.tarjetaEj
{
    border: 1px rgba(0, 0, 0, 0.26) solid ;
    border-radius: 3vmin;
}
.title
{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: rgba(255, 127, 80, 0.26);
    border-radius: 3vmin;
}
.description
{
    background-color: rgba(0, 255, 255, 0.26);
    width: 100%;
    min-height: calc(64% - 2px);
    margin: 5px 0 0 0;
    padding: 10px 10px 0 10px;
    border-radius: 3vmin;   
}


#footer {
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.637);
    height: 20vh;
}

@media (max-width: 800px) {
    .tarjetaEj
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20vh;
    margin-bottom: 5%;
}
  }